name: "Colmena build"
on:
  push:
    branches:
      - 'main'
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: workflow/nix-shell-action@v3
        with:
          packages: colmena
          script: colmena --build --no-build-on-target
      - run: "nix run github:zhaofengli/colmena -- build --no-build-on-target"
